@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iSoft</h1>
    <p class="lead">Hotel Management made simpler with iSoft.</p>
    <p><a href='@Url.Action("login", "login")' class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How do I get started?</h2>
        <p>
           The application has a simple user interface, you just need to sign up and provide some basic information 
            about you and your business and voila!!! your done.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How is it helpful?</h2>
        <p>Unlike primitive applications, this application is intelligent, it is capable of revolutionising your business.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Who made this possible?</h2>
        <p>Young minds constantly trying to solve the day to day challenges faced in the industry making life more simpler.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>